# Node
node_modules/
dist/
package-lock.json

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# # Env files
.env*
!.env*.enc

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.DS_Store

# Docker
*.pid
*.bak

# Allure reports
allure-report/
allure-results/

